.movies-card-list {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

.movies-card-list__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 57px 30px;
  margin: 0;
  padding: 70px 70px 26px;
  list-style: none;
}

.movies-card-list__list_type_saved-movies {
  padding: 70px 70px 240px;
}

.movies-card-list__more {
  padding: 50px 40px 80px;
}

.movies-card-list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 10px 60px 8px;
  border: 1px solid #424242;
  border-radius: 6px;
  outline: 0;
  font: 500 12px/16px Inter, sans-serif;
  text-align: center;
  color: #fff;
  background: #0000;
  cursor: pointer;
  transition: .5s;
}

.movies-card-list__button:hover {
  opacity: .8;
}

@media (max-width: 960px) {
  .movies-card-list__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 45px 30px;
    padding: 70px 30px 10px;
  }

  .movies-card-list__list_type_saved-movies {
    padding: 70px 30px 175px;
  }
}

@media (max-width: 480px) {
  .movies-card-list__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 36px;
    padding: 40px 10px 10px;
  }

  .movies-card-list__list_type_saved-movies {
    padding: 40px 10px 150px;
  }
}
