.footer {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 79px 70px 20px;
}

.footer__title {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #424242;
  font: 400 13px/16px Inter, sans-serif;
  font-feature-settings: 'clig' off, 'liga' off;
  text-align: center;
  color: #8b8b8b;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text {
  margin: 0;
  font: 400 13px/16px Inter, sans-serif;
  font-feature-settings: 'clig' off, 'liga' off;
  color: #fff;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  font: 400 13px/16px Inter, sans-serif;
  font-feature-settings: 'clig' off, 'liga' off;
  text-decoration: none;
  color: #fff;
  transition: .5s;
}

.footer__link:hover {
  opacity: .7;
}

@media (max-width: 960px) {
  .footer {
    padding: 79px 30px 20px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 79px 10px 20px;
  }

  .footer__title {
    margin: 0 0 30px;
    padding: 0 0 21px;
    font: 400 12px/15px Inter, sans-serif;
  }

  .footer__container {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .footer__text {
    font: 400 12px/15px Inter, sans-serif;
    color: #a0a0a0;
  }

  .footer__span {
    display: none;
  }

  .footer__list {
    flex-direction: column;
    gap: 12px;
  }

  .footer__link {
    font: 400 12px/15px Inter, sans-serif;
  }
}
