.about-me {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 70px 115px;
}

.about-me__title {
  margin: 0 0 66px;
  padding: 0 0 23px;
  border-bottom: 1px solid #dadada;
  font: 400 22px/27px Inter, sans-serif;
  letter-spacing: -.88px;
  color: #fff;
}

.about-me__container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 49px;
  margin: 0 0 100px;
}

.about-me__wrapper {
  flex: 0 1 600px;
}

.about-me__header {
  margin: 0 0 18px;
  font: 400 50px/58px Inter, sans-serif;
  letter-spacing: -2px;
  color: #fff;
}

.about-me__subtitle {
  margin: 0 0 26px;
  font: 500 18px/20px Inter, sans-serif;
  font-feature-settings: 'clig' off, 'liga' off;
  color: #fff;
}

.about-me__text {
  margin: 0 0 99px;
  font: 400 14px/22px Inter, sans-serif;
  font-feature-settings: 'clig' off, 'liga' off;
  color: #fff;
}

.about-me__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 46px;
  outline: 0;
  font: 500 14px/17px Inter, sans-serif;
  color: #fff;
  text-decoration: none;
  transition: .5s;
}

.about-me__link:hover {
  opacity: .7;
}

.about-me__image {
  flex: 0 0 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}

@media (max-width: 960px) {
  .about-me {
    padding: 90px 50px 80px;
  }

  .about-me__container {
    margin: 0 0 90px;
  }

  .about-me__wrapper {
    flex: 0 2 364px;
  }

  .about-me__header {
    margin: 0 0 16px;
    font: 400 40px/40px Inter, sans-serif;
    letter-spacing: -1.6px;
  }

  .about-me__subtitle {
    margin: 0 0 20px;
    font: 500 12px/18px Inter, sans-serif;
  }

  .about-me__text {
    margin: 0 0 87px;
    font: 400 12px/18px Inter, sans-serif;
  }

  .about-me__image {
    flex: 0 1 255px;
    height: 307px;
  }
}

@media (max-width: 480px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__title {
    margin: 0 0 60px;
    padding: 0 0 28px;
    font: 400 18px/22px Inter, sans-serif;
    letter-spacing: -.72px;
  }

  .about-me__container {
    flex-direction: column-reverse;
    gap: 40px;
    margin: 0 0 70px;
  }

  .about-me__wrapper {
    flex: 0 1 auto;
  }

  .about-me__header {
    margin: 0 0 20px;
    font: 400 30px/36px Inter, sans-serif;
    letter-spacing: -1.2px;
  }

  .about-me__subtitle {
    font: 500 11px/16px Inter, sans-serif;
  }

  .about-me__text {
    margin: 0 0 40px;
    font: 400 11px/16px Inter, sans-serif;
  }

  .about-me__image {
    flex: 0 0 352px;
  }
}
